*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    /* color: white; */
}

.body{
    margin: 0px;
}
.body h1{
    justify-content: center;
    text-align: center;
}
.representation{
    justify-content: center;
    margin-top: 50Px;
    display: none;
}

.details{
    margin: 0px;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.table{
    justify-content: center;
    text-align: center;

}
.calculation_area p{
    margin-bottom: 10px !important;
}
.pr_table{
    margin-top: 40px;

    display: none;
}


.details table ,th,tr,td{
    margin: 0px !important;
    border: solid 1px gray;
    border-collapse: collapse;
    width: 500px !important;
    height: 30px;
    justify-content: center;
}
.p_table{
    width: 50%;
    padding-left: 30px;
    justify-content: center;
}
.selection{
    margin-top:30px;
}
.table_data{
    width: 80%;
    padding-left: 10% !important;
    text-align: center;

    
}
.result{
    margin-top: 100px;
    padding-left: 30px;
    width: 50%;
}
.pr_table table ,th,tr,td{
    margin: 0px ;
    border: solid 1px gray;
    border-collapse: collapse;
    height: 30px;
    justify-content: center;
}
.input{
    text-align: center;
}
.add{
    margin: 2px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
}
.check{
    margin: 20px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
}
.cal{
    border:  solid 1px black;
    display: none;
    padding-left: 30px;
    width: 50%;
}
.inputfield{
    width: 75px;
    text-align: center;
}
.quantum_div{
    margin-top: 20px;
    display: none;

}
.quantum{
    text-align: center;
    margin: 10px 0px 0px 10px;
    width: 100px;
}
.Gantt_chart{
    /* margin-top: 80px; */
    border: solid 1px black;
    width: 60%;
    justify-content: center;
    text-align: center;
    display: none;
    
}
.chart{
    display: flex;
    justify-content: center; 
    border: solid 1px beige;
}
.b1{
    margin-left: 20px !important;
}
.block{
    border: solid 1px black;
  
    width: 50px;
    height: 50px;
}
.block p{
    margin-top: 15px;
}
.chart_block .bt{
    margin: 20px 0px 0px 0px;
 
}
.block_fotter{
    font-size: 15px;
    margin: 0px 0px 20px 0px;
}

.wt{
    display: flex;
}

.block_fotter .wt .lt{
    padding-left: 35px;
}
.table{
    display:flex;
}
.head{
    background-color: aqua ;
}
.total{
    background-color:  aquamarine;
}
.P1{
    background-color: aqua;
}
.P2{
    background-color: aquamarine;
}
.P3{
    background-color: cadetblue;
}
.P4{
    background-color: yellowgreen;
}
.P5{
    background-color: sandybrown;
}
.P6{
    background-color: #F2F1EF;
}
.P7{
    background-color: #B1A6A4;
}
.P8{
    background-color: #697184;
}
.P9{
    background-color: #D8cFD0;
}
.P10{
    background-color: #C2EDCE;
}
.chart_block{
    position: relative;

}

.canves{
    display: none !important;
}
.graph{
    display: none;
  }
.main{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    position: relative;
}
.inner{
    position: absolute;
    bottom: 0;
}
.main .inner{
    border: solid 1px black;
    width: 40px;
    height: 100px;
    
}
.main .BT{
    text-align: center !important;
    justify-content: center !important;
    position: absolute;
    left: 50%;
    bottom: -20px;




}
.main .inner p {
    top: 30%;
    position: relative;
}
#shuffel{
    display: none;
}

.cpu{
    width: 150px;
    height: 150px;
    border: solid 1px black;
    float: right;
    position: relative;
    margin-right:30px ;
    text-align: center;
    justify-content: center;
}

#animation{
    height: 0px;
    position: relative;
    display: none;
}

.statistics {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -38px;
    margin-left: 50px;
}
.statistics div{
    justify-content: center;
    text-align: center;
}
.Process{
    border: solid 1px black;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
    animation-duration: 3s;
}
.Process p{
    padding-top: 18px;
    
}
@keyframes example {
    0%   {background-color:red; left:-200px; top:0px;}
    50%  {background-color:yellow; left:0px; top:0px;}
    100%  {background-color:red; left:0px; top:170px;}

}
@keyframes example1 {
    0%   {background-color:red; left:-200px; top:0px;}
    50%  {background-color:yellow; left:0px; top:0px;}
    100%  {background-color:red; left:0px; top:-200px;}

}

.reload{
    margin: 20px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    display: none;
}

.q_c{
    position: relative;
    left: 76%;
    top: 160px;
    width: 10%;
    z-index: 1;
    /* padding-top: 300px; */
}
.c_q{
    margin-bottom: -100px;
    position: relative;
    left: 87%;
    width: 10%;
    z-index: 1;
}
.q_e{
    position: relative;
    top: 220px;
    left: 87%;
    width: 10%;
    z-index: 1;
}
.cqfont{
    position: relative;
    font-size: 13px !important;
}
.font{
    position: relative;
    font-size: 13px !important;
}
